<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .control input {
      width: 99%;
      padding: 7px;
      border: 2px solid rgb(31, 207, 198);
      outline: none;
      letter-spacing: 1.3;
    }

    .button {
      padding: 20px;
    }
  </style>
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          What's the weather like?
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-4 is-4">
          <form action="{% url 'home' %}" method="POST">
            {%csrf_token%}
            <div class="field has-addons">
              <div class="control is-expanded">
                <input type="text" name="cityname" placeholder="City name" required>
              </div>
              <div class="control">
                <button type="submit" class="button is-dark">
                  Search City
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                   {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                   <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.temperature}}° C</span>
                                        <br>{{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                  {%endfor%}
                </div>
            </div>
        </div>
    </section> -->


  {% if temp and country_code and description and temp_min and temp_max and icon and pressure and humidity and city %}
  <div class="container mx-auto text-center">
    <div class="mx-auto p-3 rounded shadow-lg">
      <div class="h4 text-center">
        <h4 class="text-center text-primary mb-5">Weather For {{city| title}} City</h4>
      </div>
      <div class="row mx-auto">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="text-info">Temperature</h3>
              <h4 class="mt-4"> {{temp}} </h4>
              <p class="mt-3"></p>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="text-info">Humidity</h3>
              <h4 class="mt-4"> {{humidity}} </h4>
              <p class="mt-3"></p>

            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-body justify-content-center">
              <div class="image w-25 is-50x50 mb-2 p-3 mx-auto">
                <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="">
              </div>
              <h4 class="mb-2"> Weather seems to be {{description}}</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-body">
              <h3 class="text-info">Min & Max Temperature</h3>
              <ul class="list-groupe">
                <li class="list-group-item">Minimum Temperature : {{temp_min}}</li>
                <li class="list-group-item"> Maximum Temperature : {{temp_max}}</li>
              </ul>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}




  <footer class="footer">
    <div class="text-center">
      <p>&copy; Developed with &hearts; By <span class="text-primary">Kunal Raut</span></p>
      <span> 2021</span>
    </div>
  </footer>
</body>

</html>